html
  head
    title=title
    link(href='/css/style.css', rel='stylesheet')
    body(margin="auto")
      div.tabletLayout
        div#garden
          div#story
            span#storyText Hey
          div#flowers                
            img.flower(src="../img/icons-all/flower1.svg")
            img.flower(src="../img/icons-all/flower2.svg")
            img.flower(src="../img/icons-all/flower3.svg")
            img.flower(src="../img/icons-all/flower4.svg")
            img.flower(src="../img/icons-all/flower5.svg")




