html
  head
    title=title
    link(href='/css/style.css', rel='stylesheet')
    script(src='../socket.io/socket.io.js')
    script(src='/js/task.js')
    body(margin="auto")
      div.homecontainer
        div.centered
          p(style='withe-space:pre;') Select an Account
          div.iconWtext
            a(href="/patienthome/")
              img.users(src="img/icons-all/user-avatar.png",height="100px",width="100px")
            div.caption Regular
          div.iconWtext
            a(href="/taskgo/")
              img.users(src="../img/icons-all/user-avatar.png",height="100px",width="100px")
              div.caption Demo

        