html
  head
    title=title
    script(src='/js/main.js')
    link(href='/css/style.css', rel='stylesheet')
    body(margin="auto")
      div.homecontainer
        div.centered
          p(style='withe-space:pre;') Select an Account
          div.iconWtext
            a(href="/showPatient/")
              img.users(src="img/icons-all/question.png",height="100px",width="100px")
            div.caption Patient
          div.iconWtext
            img.users(src="img/icons-all/user-avatar.png",height="100px",width="100px")
            div.caption Caregiver

        