html
  head
    title=title
    link(href='/css/circle.css', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')
    script(src='/js/svg.js')
    body(margin="auto")
      div.tabletLayout
        a(href="/")
          div.back
            div.backIcon
             img(src="../img/icons-all/backicon.png")
        div.centeredPatient
          div.centered
            div.image         
              object#scoreImage(data="../img/icons-all/slice-full.svg" ftype="image/svg+xml")  
              div.scoreArea
                div#repetitions
                  span#scoreText You have
                  br
                  span#count 3
                  br
                  more to go!
                div#scoreResponse
                  span#scoreValue Hold on
                  br
                  span#resetObjects Score is loading
        a(href="/calibrate/")
          div.nextStep
            div.centered
              span Next