@font-face{
	font-family: "Monserat";
	src: url("/fonts/montserrat/Montserrat-Bold.ttf");
	font-weight: bold;
	font-style: normal;
}

html{
	background-color:  #e9e9f4;
}
.homecontainer{
	text-align: center;
	width:1280px;
	height:800px;
	display:table;
	color:#d22848;
	font-family:"Monserat";
	font-size:36pt;
} 


.icon{
	text-align: center;
	height: 1000px;
	width: 1000px;


}
.caption{
	display:block;
}
.users{
	height: 200px;
	width: 200px;
}
.caption{
	font-size:24pt;
}
.iconWtext{
	display:inline-block;
	text-align: center;
	width: 300px;

}
.tabletLayout{
	width:1280px;
	height:800px;
	margin:0;
}
.back{
	margin-left:30px;
	margin:auto;
	margin-top:20px;
	width:10%;
	float:left;

}
.backIcon{
	background-color:#ffcdd9;
	margin-left:10px;
	padding:15px;
	height:100px;
	width:100px;
}

.nextStep{
	background-color:#97e157;
	height:100%;
	width:30%;
	float:left;
	margin-top:auto;
	margin-bottom:auto;
	text-align:center;
	display:table;
	color:white;
}
.centered{
	font-family:"Monserat";
	vertical-align:middle;
	display:table-cell;
	font-size:36pt;


}
.help{

	display:table;
	background-color:#f3284e;
	height:130px;
	width:400px;
	margin-left:60px;
	margin-top:20px;
}
.helpText{
	color:#ffccd8;
	text-align:center;
	font-family:"Monserat";
	vertical-align:middle;
	display:table-cell;
	font-size:36pt;

}
.centeredpatient{
	display:table;
	margin-top:auto;
	margin-bottom:auto;
	text-align: center;
	height:100%;
	color:#d22848;
	font-size:36pt;
	float:left;
	width: 60%;
}
.chartArea{
	padding-top:80px;
}

.chartText{
	text-align:left;
	color:#d22848;
	font-family:"Monserat";
	font-size:30pt;
}
html,#header{
	margin: 0 !important;
    padding: 0 !important;
}
html,body{
	margin: 0 !important;
    padding: 0 !important;
}
.chart{
	width:600;
	height:294;
	padding-top:80px;
}