@font-face{
	font-family: "Monserat";
	src: url("/fonts/montserrat/Montserrat-Bold.ttf");
	font-weight: bold;
	font-style: normal;
}

html{
	background-color:  #e9e9f4;
}
#repetitions{
	
}
.homecontainer{
	text-align: center;
	width:100%;
	height:100%;
	display:table;
	color:#d22848;
	font-family:"Monserat";
	font-size:36pt;
} 
#scoreResonse{

}
#scoreValue{
	font-size:60pt;
}
#resetObjects{
	font-size:30pt;
}


.icon{
	text-align: center;
	height: 1000px;
	width: 1000px;

}
.caption{
	display:block;
}
.users{
	height: 200px;
	width: 200px;
}
.caption{
	font-size:24pt;
}
.iconWtext{
	display:inline-block;
	text-align: center;
	width: 300px;

}
.tabletLayout{
	width:100%;
	height:100%;
	margin:0;
	position:relative;
}
#back{
	display:table;
	margin-top:auto;
	margin-bottom:auto;
	text-align: center;
	height:100%;	
	width:15%;
	background-color:#f3284e;;
	float:left;

}
#count{
	font-size:90pt;
}
#rep{
	font-size:42pt;
}
#tasktext{
	font-size:90pt;
}
#backtest{
	margin-left:30px;
	margin:auto;
	margin-top:auto;
	width:33.3%;
	float:left;
	height:100%;
	text-align:center;
	background-color:#f3284e;
	display:table;
}
#centeredpatienttest{
	display:table;
	margin-top:auto;
	margin-bottom:auto;
	text-align: center;
	height:100%;
	color:#d22848;
	font-size:36pt;
	float:left;
	width: 33.3%;
}
.backIcon{
	display:table-cell;
	vertical-align:middle;

}
#nextStepTest{
	background-color:#97e157;
	height:100%;
	width:33%;
	float:left;
	margin-top:auto;
	margin-bottom:auto;
	text-align:center;
	display:table;
	color:white;
}


.nextStep{
	background-color:#97e157;
	height:100%;
	width:15%;
	float:left;
	margin-top:auto;
	margin-bottom:auto;
	text-align:center;
	display:table;
	color:white;
}
#start{
	background-color:#97e157;
	height:100%;
	width:15%;
	float:left;
	margin-top:auto;
	margin-bottom:auto;
	text-align:center;
	display:table;
	color:white;
}
.centered{
	font-family:"Monserat";
	vertical-align:middle;
	display:table-cell;
	font-size:36pt;


}
.help{

	display:table;
	background-color:#f3284e;
	height:130px;
	width:400px;
	margin-left:60px;
	margin-top:20px;
}
.helpText{
	color:#ffccd8;
	text-align:center;
	font-family:"Monserat";
	vertical-align:middle;
	display:table-cell;
	font-size:36pt;

}
.centeredpatient{
	display:table;
	margin-top:auto;
	margin-bottom:auto;
	text-align: center;
	height:100%;
	color:#d22848;
	font-size:36pt;
	float:left;
	z-index:10;
	width: 70%;
}
#pretask{
	position:absolute;
	z-index:10;
	width:100%;
	height:100%;
	visibility:hidden;
	background-color:  #e9e9f4;


}
.chartArea{
	padding-top:80px;
}
#task{
	position:absolute;
	display:table;
	width:100%;
	height:100%;
	background-color:#97e157;
	z-index:11;

}
.chartText{
	text-align:left;
	color:#d22848;
	font-family:"Monserat";
	font-size:30pt;
}
html,#header{
	margin: 0 !important;
    padding: 0 !important;
}
html,body{
	margin: 0 !important;
    padding: 0 !important;
}
.chart{
	width:600;
	height:294;
	padding-top:80px;
}
.centeredTask{
	display:table;
	margin-top:auto;
	margin-bottom:auto;
	text-align: center;
	height:100%;
	color:#ffffff;
	font-size:36pt;
	float:left;
	width: 100%;
}

